In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [2]:
data= pd.read_csv('dataset/adult.csv', na_values=['?'])

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       46043 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      46033 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  47985 non-null  object
 14  income          48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [4]:
data.isnull().sum()

age                  0
workclass         2799
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        2809
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     857
income               0
dtype: int64

In [5]:
data.dropna(inplace=True)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45222 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             45222 non-null  int64
 1   workclass       45222 non-null  object
 2   fnlwgt          45222 non-null  int64
 3   education       45222 non-null  object
 4   education-num   45222 non-null  int64
 5   marital-status  45222 non-null  object
 6   occupation      45222 non-null  object
 7   relationship    45222 non-null  object
 8   race            45222 non-null  object
 9   sex             45222 non-null  object
 10  capital-gain    45222 non-null  int64
 11  capital-loss    45222 non-null  int64
 12  hours-per-week  45222 non-null  int64
 13  native-country  45222 non-null  object
 14  income          45222 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.5+ MB

In [7]:
new_output = []
for value in data['income']:
    if value == '<=50K' or value == '<=50K.':
        new_output.append(0)
    elif value == '>50K' or value == '>50K.':
        new_output.append(1)
    
print("Anzahl 1: " + str(len(new_output)))
print("Anzahl 2: " + str(len(data['income'])))
data['income'] = new_output

Anzahl 1: 45222
Anzahl 2: 45222

In [8]:
data.to_csv('dataset/adult_cleaned.csv')

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
data_train, data_test = train_test_split(data, test_size=0.2, random_state=0)
data_train.shape, data_test.shape

((36177, 15), (9045, 15))

In [11]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36177 entries, 14232 to 2976
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             36177 non-null  int64
 1   workclass       36177 non-null  object
 2   fnlwgt          36177 non-null  int64
 3   education       36177 non-null  object
 4   education-num   36177 non-null  int64
 5   marital-status  36177 non-null  object
 6   occupation      36177 non-null  object
 7   relationship    36177 non-null  object
 8   race            36177 non-null  object
 9   sex             36177 non-null  object
 10  capital-gain    36177 non-null  int64
 11  capital-loss    36177 non-null  int64
 12  hours-per-week  36177 non-null  int64
 13  native-country  36177 non-null  object
 14  income          36177 non-null  int64
dtypes: int64(7), object(8)
memory usage: 4.4+ MB

In [12]:
data_test.reset_index(inplace=True, drop=True)
data_train.reset_index(inplace=True, drop=True)

In [13]:
#schreibe in csv mit index. Benenne die Spalte "index" um in "id"
data_train.to_csv('dataset/adult_train.csv')
data_test.to_csv('dataset/adult_test.csv')